apiVersion: v1
kind: Namespace
metadata:
  name: prometheus-ns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: prometheus-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus:latest
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: config
          mountPath: /etc/prometheus/prometheus.yml
          subPath: prometheus.yml
      volumes:
      - name: config
        configMap:
          name: prometheus-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: prometheus-ns
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
    - job_name: 'prometheus'
      static_configs:
      - targets: ['localhost:9090']
    - job_name: 'argocd-application-controller'
      static_configs:
      - targets: ['argocd-metrics.argocd.svc.cluster.local:8082']
    - job_name: 'argocd-server'
      static_configs:
      - targets: ['argocd-server-metrics.argocd.svc.cluster.local:8083']
    - job_name: 'argocd-repo-server'
      static_configs:
      - targets: ['argocd-repo-server.argocd.svc.cluster.local:8084']
    - job_name: 'argocd-notifications-controller'
      static_configs:
      - targets: ['argocd-notifications-controller-metrics.argocd.svc.cluster.local:9001']
    - job_name: 'argocd-applicationset-controller'
      static_configs:
      - targets: ['argocd-applicationset-controller.argocd.svc.cluster.local:8080']
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: prometheus-ns
spec:
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
  type: LoadBalancer